
<div class="container">
        <br />
        <form action='./update' method='post'>
            <input type="hidden" name = "packageId" value= '<%= packageId %>' >
            weight : <br />
            <input type="number" name="weight" required value= '<%= weightPackage %>'><br />
            <br />
            source city : <br />
            <select name="source_city_id">
                <% for(let city of citiesArray) { %>
                <option value=<%= `${city.id}` %>><%= `${city.name}` %></option>
                <% } %>
            </select>
            <br />
            <br />
            destination city: <br />
            <select name="destination_city_id">
                <% for(let city of citiesArray) { %>
                <option value=<%= `${city.id}` %>><%= `${city.name}` %></option>
                <% } %>
            </select>
            <br />
            <br />
            Receiver Name : <br />
            <input type="text" name="name" required value=<%=name %>>
            <br />
            <br />
            Receiver email : <br />
            <input type="text" name="email" required value=<%=email %>>
            <br />
            <br />
            Receiver phone number : <br />
            <input type="text" name="phoneNo" required value=<%=phoneNo %>>
            <br />
            <br />
            <button class ="btn btn-primary" type="submit" value="Submit"> Update Package </button>
        </form>
</div>
